# directories
/.vscode
/.husky
/.github
/.parcel-cache
/build
/dist
/node_modules

# singular files
.prettierignore
.gitignore
.DS_Store
LICENSE
.npmrc
.nvmrc
.pnpmrc
ignore.*
Caddyfile
pnpm-lock.yaml

# file types
*.log
*.svg
*.min.svg
*.yaml
*.txt
*.md